html, body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

.container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

button{
    margin-right: 5px;
}